%h2
  Profilimi Düzenle
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :username, :required => true, :autofocus => true, :label => "Kullanıcı Adı"
    = f.input :email, :required => true, :autofocus => true
    = f.input :password, :autocomplete => "off", :hint => "değiştirmek istemiyorsanız, boş bırakın", :required => false,  :label => "Yeni Şifre"
    = f.input :password_confirmation, :required => false, :label => "Yeni Şifreyi Onaylayın"
    = f.input :current_password, :hint => "yaptığınız değişiklikleri onaylamak için geçerli şifrenizi ihtiyacımız var", :required => true, :label => "Eski Şifre"
  .form-actions
    = f.button :submit, "Değiştir",  :class => 'btn-primary'
%h3 Cancel my account
%p
  Mutsuz musun? #{link_to "Hesabımı sil", registration_path(resource_name), :data => { :confirm => "Emin misin ?" }, :method => :delete}.
= link_to "Geri", :back