%h1 Fatura Listeleri
.input-prepend
= form_tag('invoices', method: :get) do
  .input-append
    = text_field_tag :search, params[:search]
    = button_tag "Ara", :class => 'btn btn-primary'


%table.table.table-bordered
  %tr
    %th Serial
    %th Date
    %th Amount
    %th Vat
    %th Total amount
    %th Io
    %th
    %th
    %th

  - @invoices.each do |invoice|
    %tr
      %td= invoice.serial
      %td= invoice.date
      %td= invoice.amount
      %td= invoice.vat
      %td= invoice.total_amount
      %td= invoice.io == 1 ? "Gelen" : "Giden"
      %td= link_to 'Göster', invoice, :class => 'btn btn-primary'
      %td= link_to 'Düzenle', edit_invoice_path(invoice), :class => 'btn btn-info'
      %td= link_to 'Sil', invoice, :class => 'btn btn-danger', method: :delete, data: { confirm: 'Silmek istiyor musun?' }
%br/
= link_to 'Yeni Fatura', new_invoice_path