= show_for @invoice do |a|
  = a.attribute :serial, :label => "Seri No"
  = a.attribute :date, :label => "Tarih"
  = a.attribute :amount, :label => "Fiyat"
  = a.attribute :vat, :label => "KDV"


  = a.attribute :io, :label =>"Gelen Fatura-Giden Fatura" do
    = @invoice.io == 1 ? "Gelen" : "Giden"
  = a.attribute :photo, :label => "Fatura Resmi" do
    = link_to image_tag(@invoice.photo.url(:small)),@invoice.photo.url(:original),:target => "_blank"

= link_to 'Edit', edit_invoice_path(@invoice)
= link_to 'Back', invoices_path
