= show_for @invoice do |a|
  = a.attribute :serial
  = a.attribute :date
  = a.attribute :amount
  = a.attribute :vat
  = a.attribute :io

  = a.attribute :io do
    = @invoice.io == 1 ? "Gelen" : "Giden"
  = a.attribute :photo do
    = link_to image_tag(@invoice.photo.url(:small)),@invoice.photo.url(:original),:target => "_blank"

= link_to 'Edit', edit_invoice_path(@invoice)
= link_to 'Back', invoices_path
