<p id="notice"><%= notice %></p>
 <%= link_to image_tag(@invoice.photo.url(:small)),@invoice.photo.url(:original) %>

<p>
  <b>Serial:</b>
  <%= @invoice.serial %>
</p>

<p>
  <b>Date:</b>
  <%= @invoice.date %>
</p>

<p>
  <b>Amount:</b>
  <%= @invoice.amount %>
</p>

<p>
  <b>Vat:</b>
  <%= @invoice.vat %>
</p>

<p>
  <b>Total amount:</b>
  <%= @invoice.total_amount %>
</p>

<p>
  <b>Io:</b>
  <%= @invoice.io == 1 ? "Gelen" : "Giden"  %>

</p>


<%= link_to 'Düzenle', edit_invoice_path(@invoice) %> |
<%= link_to 'Geri', invoices_path %>
