%h2 Şifreni Değiştir
= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
= f.error_notification
= f.input :reset_password_token, :as => :hidden
= f.full_error :reset_password_token
.form-inputs
= f.input :password, :label => "Yeni şifre", :required => true, :label => "Yeni Şifre"
= f.input :password_confirmation, :label => "Yeni şifrenizi onaylayın", :required => true, :label => "Yeni Şifrenizi Onaylayın"
.form-actions
= f.button :submit, "Şifremi değiştir", :class => 'btn-primary'
= render "devise/shared/links"