%h2 Şifreni mi Unuttun?
= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, :required => true
  .form-actions
    = f.button :submit, "Şifremi sıfırlayarak bana gönder" , :class => 'btn-primary'
= render "devise/shared/links"